__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/
data/raw/
data/interim/
data/processed/
data/reports/
*.image
*.model
*.mask
*.residual
*.psf
*.pb
*.ms
*.mms
*.fits
*.log
.DS_Store

# macOS junk
.DS_Store

# ignore all data contents, but keep directory structure via .gitkeep
data/**
!data/**/.gitkeep


# macOS junk
.DS_Store

# ignore all data contents, but keep directory structure via .gitkeep
data/**
!data/**/.gitkeep

